<article  class="learning-app-info">
  <h1><%= app.title %></h1>
  <section>
    <h4>アプリケーションURL</h4>
    <p><%= link_to app.app_url, app.app_url, target: :_blank %></p>
  </section>
  <section>
    <h4>リモートリポジトリURL</h4>
    <p><%= link_to app.repo_url, app.repo_url, target: :_blank %></p>
  </section>
</article>

<% if app.user != current_user %>
  <div class="learning-status">
    <div class="row">
      <div class="col-md-5">
        <h4>学習開始日 <%= learning.created_at.strftime("%Y年%m月%d日") %></h4>
      </div>
      <div class="col-md-7 field">
        <h4>学習状況</h4>
        <%= form_with(model: [learning.app, learning]) do |f| %>
          <%= f.select :status, ["学習中", "学習済み", "学習中断"] %>
          <%= f.submit "更新", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>