<div class="link-bar">
  <div class="current-btn">
      <%= link_to "アプリ詳細", app_path(app), class: "btn btn-default" %>
    <% if learning.present? %>
      <%= link_to "学習メモ", app_learning_path(app, learning), class: "btn btn-default" %>
    <% end %>
    <% if learning.present? || app.user == current_user %>
      <%= link_to "ヒント", hint_app_path(app), class: "btn btn-default" %>
      <%= link_to "質問", app_questions_path(app), class: "btn btn-default" %>
      <%= link_to "解説", explanation_app_path(app), class: "btn btn-default" %>
    <% end %>
  </div>

    <div class="current-btn one-btn">
      <%= link_to "レビュー", app_reviews_path(app), class: "btn btn-default" %>
    </div>

  <% if app.user == current_user %>
    <div class="one-btn">
      <%= link_to "編集", edit_app_path(app), class: "btn btn-primary" %>
    </div>
  <% elsif learning.blank? %>
    <div class="one-btn">
      <%= link_to "学習開始", app_learnings_path(app), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>