<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="app-show-box border-space">
        <div id="app-learning">
          <%= render 'learning_status', app: @learning.app, learning: @learning %>

          <div id="learning-memo">
            <div class="field">
              <%= form_with(model: [@learning.app, @learning]) do |f| %>
                <h4>学習メモ</h4>
                <div><%= f.text_area :memo, placeholder: "ご自由に記入してください。", class: "textarea-form", style: "min-height: 300px" %></div>
                <%= f.submit "メモを保存", class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <%= render 'learning_linkbar', app: @learning.app, learning: @learning %>
    </div>
  </div>
</div>