<div class="row">
  <div class="col-md-10 app-show-box border-space">
    <div id="app-learning">
      <%= render 'learning_status', app: @learning.app, learning: @learning %>

      <div id="learning-memo">
        <div class="field">
          <%= form_with(model: [@learning.app, @learning]) do |f| %>
            <h4>学習メモ</h4>
            <div><%= f.text_area :memo, placeholder: "ご自由に記入してください。", class: "textarea-form", style: "min-height: 300px" %></div>
            <%= f.submit "メモを保存", class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <div class="link-bar">
      <div class="group-btn">
        <%= link_to "アプリ詳細", app_path(@learning.app), class: "btn btn-default" %>
        <%= link_to "学習メモ", app_learning_path(@learning.app, @learning), class: "btn btn-default btn-active" %>
        <%= link_to "ヒント", hint_app_path(@learning.app), class: "btn btn-default" %>
        <%= link_to "質問", app_questions_path(@learning.app), class: "btn btn-default" %>
        <%= link_to "解説", explanation_app_path(@learning.app), class: "btn btn-default" %>
      </div>
      <div class="one-btn">
        <%= link_to "レビュー", app_reviews_path(@learning.app), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
