<% if user_signed_in? %>
  <div id="my-info-bar">
    <%= link_to user_path(user), id: "my-img" do %>
      <div id="my-name">
        <%= attachment_image_tag(user, :profile_image, size: "60x60", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
        <span><%= user.name %></span>
      </div>
    <% end %>

    <hr>

    <%= link_to user_path(user) do %>
      <div id="my-app">
        <h5>マイアプリ</h5>
        <span>学習：<%= user.learnings.count %>件</span><span>投稿：<%= user.learnings.count %>件</span>
      </div>
    <% end %>

    <hr>

    <div id="follow-count">
      <%= render 'relationships/follow_count', user: user %>
    </div>
  </div>
<% end %>
