<div class="row user-edit">
  <div id="user-image" class="col-sm-3 col-sm-offset-1">
    <%= attachment_image_tag(user, :profile_image, size: "150x150", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
  </div>

  <div id="user-info" class="col-sm-7">
    <div id="user-acount">
      <h3><%= user.name %></h3>
      <% if user == current_user %>
        <%= link_to "アカウント情報を編集", edit_user_path(user), class: "btn btn-default" %>
      <% else %>
        <span id="follow-form-<%= user.id %>">
          <%= render 'relationships/follow_form', user: user %>
        </span>
      <% end %>
    </div>
    <ul id="user-follow">
      <%= render 'relationships/follow_count', user: user %>
    </ul>
    <div id="user-introduction">
      <h4>自己紹介</h4>
      <%= user.introduction %>
    </div>
    <div id="user-skill">
      <h4>学習スキル</h4>
      <%= user.skill %>
    </div>
  </div>
</div>