<div class="row">
  <div class="col-md-3">
    <ul>
      <li><%= link_to "プロフィール編集", edit_user_path(@user) %></li>
      <li><%= link_to "パスワード変更", edit_user_registration_path %></li>
      <li><%= link_to "アカウント削除", quit_user_path(@user) %></li>
    </ul>
  </div>

  <div class="col-md-9">
  <%= form_with(model: @user) do |f| %>
    <div class="field">
      <%= attachment_image_tag(@user, :profile_image, size: "150x150", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
      <h3><%= @user.name %></h3>
      <%= f.attachment_field :profile_image %>
    </div>

    <div class="field">
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction %>
    </div>

    <div class="field">
      <%= f.label :skill, "学習スキル" %>
      <%= f.text_area :skill %>
    </div>

    <%= f.submit "更新する" %>
  <% end %>
  </div>

</div>