<div class="row">
  <div id="user-image" class="col-md-3 col-md-offset-1">
    <%= attachment_image_tag(@user, :profile_image, size: "150x150", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
  </div>

  <div id="user-info" class="col-md-7">
    <div id="user-acount">
      <h3><%= @user.name %></h3>
      <% if @user == current_user %>
        <%= link_to "アカウント情報を編集", edit_user_path(@user), class: "btn btn-default" %>
      <% end %>
    </div>
    <div id="user-introduction">
      <h4>自己紹介</h4>
      <%= @user.introduction %>
    </div>
    <div id="user-skill">
      <h4>学習スキル</h4>
      <%= @user.skill %>
    </div>
  </div>
</div>

<div class="row">
  <div id="user-app">
    <ul class="user-app-menu nav nav-tabs">
      <li class="active"><%= link_to "学習#{@user.learnings.count}件", "#learning-tab", data: { toggle: "tab"} %></li>
      <li><%= link_to "投稿#{@user.apps.count}件", "#post-tab", data: { toggle: "tab"} %></li>
    </ul>

    <div class="tab-content" id="user-app-contents">

      <div class="tab-pane active" id="learning-tab">
        <% if @user == current_user %>
          <% @user.learnings.each do |learning| %>
            <div c lass="my-app-box">
              <div class="row">
                <div class="my-app col-md-9">
                  <h4><%= link_to learning.app.title, app_path(learning.app) %></h4>
                  <div class="star-rate" data-score="<%= learning.app.average_rate %>"></div>
                  <span>（<%= learning.app.average_rate %>）</span>
                  <p>開発言語：<%= link_to learning.app.language.name, language_path(learning.app.language) %></p>
                  <% learning.app.tag_list.each do |tag| %>
                    <span class="tag-link"><%= link_to tag, tag_apps_path(tag_name: tag), class: "btn-xs btn-default btn-tag" %></span>
                  <% end %>
                </div>

                <div class="my-learning-status col-md-3">
                  <p>学習開始日： <%= learning.created_at.strftime("%Y年%m月%d日") %></p>
                  <p>学習状況： <%= learning.status %></p>
                  <% if learning.status == "学習済み" %>
                    <% if Review.find_by(user_id: @user.id, app_id: learning.app.id).present? %>
                      <p>レビュー済み</p>
                    <% else %>
                        <%= link_to "レビューを投稿する", app_reviews_path(learning.app), class: "btn btn-primary" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4>他のユーザーの学習内容は閲覧できません。</h4>
        <% end %>
      </div>

      <div class="tab-pane" id="post-tab">
        <% @user.apps.each do |app| %>
          <div class="my-app-box">
            <div class="row">
              <div class="my-app col-md-9">
                <h4><%= link_to app.title, app_path(app) %></h4>
                <div class="star-rate" data-score="<%= app.average_rate %>"></div>
                <span>（<%= app.average_rate %>）</span>
                <p>開発言語：<%= link_to app.language.name, language_path(app.language) %></p>
                <% app.tag_list.each do |tag| %>
                  <span class="tag-link"><%= link_to tag, tag_apps_path(tag_name: tag), class: "btn-xs btn-default btn-tag" %></span>
                <% end %>
              </div>

              <% if @user == current_user %>
                <div class="my-app-edit col-md-3">
                  <%= link_to "内容を編集する", edit_app_path(app), class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
