<div class="container">
  <% if @user.status == true %>
    <%= render 'user_info', user: @user %>

    <div class="row back-white">
      <div id="user-app">
        <ul class="user-app-menu nav nav-tabs">
          <li class="active"><%= link_to "投稿#{@user.apps.count}件", user_path(@user) %></li>
          <li><%= link_to "学習#{@user.learnings.count}件", learnings_user_path(@user) %></li>
          <li><%= link_to "ストック#{@user. stocks.count}件", stocks_user_path(@user) %></li>
        </ul>

        <div  id="user-app-contents">
          <% if @post_apps.present? %>
            <% @post_apps.each do |app| %>
              <div class="my-app-box">
                <div class="row">
                  <div class="my-app col-md-10">
                    <%= render 'user_app_index', app: app %>
                  </div>

                  <% if @user == current_user %>
                    <div class="my-app-edit col-md-2">
                      <% if app.status == true %>
                        <%= link_to "内容を編集する", edit_app_path(app), class: "btn btn-primary" %>
                      <% else %>
                        <p class="btn-danger">非公開済みのアプリです</p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <h4>投稿したアプリケーションはありません。</h4>
          <% end %>
        </div>

      </div>
    </div>

  <% else %>
    <h4>退会済みのユーザーです。</h4>
  <% end %>
</div>
