<div class="container admin-space">
  <div class="row">
    <div class="col-md-5">
      <h3 class="admin-title">開発言語一覧</h3>
      <table class="table lang-index">
        <thead>
          <tr>
            <th>言語名</th>
            <th>登録アプリ数</th>
            <th>全体に占める割合</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @langs.each do |lang| %>
            <tr>
              <td><%= lang.name %></td>
              <td class="text-center"><%= lang.apps.pluck(:status).count(true) %></td>
              <td class="text-center"><%= "#{lang.apps.pluck(:status).count(true) * 100 / @apps.count }％" %></th>
              <td><%= link_to "詳細・編集", admin_lang_path(lang), class: "btn btn-sm btn-default" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <h3 class="admin-title">新規登録</h3>
      <%= form_with(model: [:admin, @lang], local: true) do |f| %>
        <%= render 'layouts/error_messages', model: @lang %>

        <div class="field lang-form">
          <%= f.label :name, "言語名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-original" %>
        </div>
      <% end %>
    </div>
  </div>
</div>