<div class="container">
  <div class="row border-box top-bottom-space">
    <div class="col-md-10 col-md-offset-1">

      <div class="new-app-confirm">
        <h4>アプリケーション名</h4>
        <p><%= session[:app]["title"] %></p>
      </div>

      <div class="new-app-confirm">
        <h4>開発言語</h4>
        <p><%= @app.language.name %></p>
      </div>

      <div class="new-app-confirm">
        <h4>アプリケーションの概要</h4>
        <p><%= session[:app]["overview"] %></p>
      </div>

      <div class="new-app-confirm">
        <h4>アプリケーションURL</h4>
        <%= link_to session[:app]["app_url"], session[:app]["app_url"], target: :_blank %>
      </div>

      <div class="new-app-confirm">
        <h4>リポジトリURL</h4>
        <%= link_to session[:app]["repo_url"], session[:app]["repo_url"], target: :_blank %>
      </div>

      <div class="new-app-confirm">
        <h4>機能</h4>
        <p><%= session[:app]["function"] %></p>
      </div>

      <div class="new-app-confirm">
        <h4>対象者</h4>
        <p><%= session[:app]["target"] %></p>
      </div>

      <div class="new-app-confirm">
        <h4>タグ付け</h4>
        <% if session[:app]["tag_list"] %>
          <% session[:app]["tag_list"].each do |tag| %>
            <span class="tag-link"><p class="btn btn-tag"><%= tag %></p></span>
          <% end %>
        <% end %>
      </div>

      <div class="actions text-center">
        <%= link_to "投稿する", apps_path, method: :post, class: "btn btn-original" %>
        <%= link_to "入力ページに戻る", apps_path(back: "render"), method: :post, class: "btn btn-original2" %>
      </div>
    </div>
  </div>
</div>