<div class="container">
  <div class="row border-box">
    <div class="col-md-3 border-space">
      <ul class="edit-link">
        <li>基本情報を編集</li>
        <li><%= link_to "ヒント・解説を追加・編集", add_edit_app_path(@app) %></li>
        <li><%= link_to "アプリを非公開にする", hidden_app_path(@app) %></li>
      </ul>
    </div>

    <div class="col-md-9 border-left border-space">
      <div class="edit-app-title">
        <h2><%= @app.title %></h2>
      </div>

      <div class="app-form">
        <%= form_with(model: @app, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: @app %>

          <div class="field edit-app-form">
            <%= f.label :title, "アプリケーション名" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :lang_id, "開発言語" %><br>
            <%= f.collection_select :lang_id, Lang.all, :id, :name, include_blank: "選択してください" %>
            <!-- プロパティ名, オブジェクトの配列, value属性（何を返すか）, テキストの項目（何を選択肢として表示するか） [, オプション] -->
            <p>最もメインで使用した言語を選択してください。</p>
          </div>

          <div class="field edit-app-form">
            <%= f.label :overview, "アプリケーションの概要" %>
            <%= f.text_area :overview, class: "form-control" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :app_url, "アプリケーションURL" %>
            <%= f.text_area :app_url, class: "form-control mini-height" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :repo_url, "リポジトリURL" %>
            <%= f.text_area :repo_url, class: "form-control mini-height" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :function, "機能" %>
            <%= f.text_area :function, class: "form-control" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :target, "対象者" %>
            <%= f.text_area :target, class: "form-control mini-height" %>
          </div>

          <div class="field edit-app-form">
            <%= f.label :tag_list, "タグ付け" %>
            <ul id="app-tags" class="form-control"></ul>
            <p>複数入力が可能です。</p>
          </div>

          <div class="actions text-center">
            <%= f.submit "更新する", class: "btn btn-original" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>