<div class="row">
  <div class="col-md-3">
    <ul>
      <li><%= link_to "基本情報を編集", edit_app_path(@app) %></li>
      <li><%= link_to "ヒント・解説を追加・編集", add_edit_app_path(@app) %></li>
      <li><%= link_to "アプリを非公開にする", hidden_app_path(@app) %></li>
    </ul>
  </div>

  <div class="col-md-9">
    <%= form_with(model: @app, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: @app %>

    <div class="field">
      <%= f.label :title, "アプリケーション名" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :language_id, "開発言語" %>
      <%= f.collection_select :language_id, Language.all, :id, :name, include_blank: "選択してください" %>
      <!-- プロパティ名, オブジェクトの配列, value属性（何を返すか）, テキストの項目（何を選択肢として表示するか） [, オプション] -->
    </div>

    <div class="field">
      <%= f.label :overview, "アプリケーションの概要" %>
      <%= f.text_area :overview %>
    </div>

    <div class="field">
      <%= f.label :app_url, "アプリケーションURL" %>
      <%= f.text_area :app_url %>
    </div>

    <div class="field">
      <%= f.label :repo_url, "リポジトリURL" %>
      <%= f.text_area :repo_url %>
    </div>

    <div class="field">
      <%= f.label :function, "機能" %>
      <%= f.text_area :function %>
    </div>

    <div class="field">
      <%= f.label :target, "対象者" %>
      <%= f.text_area :target %>
    </div>

    <%= f.submit "更新する", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>