<div class="container">
  <div class="row border-box">
    <div class="col-md-3 border-space">
      <ul class="edit-link">
        <li><%= link_to "基本情報を編集", edit_app_path(@app) %></li>
        <li><%= link_to "ヒントを追加・編集", hint_edit_app_path(@app) %></li>
        <li><%= link_to "解説を追加・編集", explanation_edit_app_path(@app) %></li>
        <li>アプリを非公開にする</li>
      </ul>
    </div>

    <div class="col-md-9 border-left border-space">
      <div class="edit-app-title">
        <h2><%= @app.title %></h2>
      </div>

      <div class="confirm-message" id="app-hidden">
        <p>この投稿アプリを一覧ページから非表示に変更します。<br>非公開にすると、現在学習中のユーザーを除き、一般ユーザーは<br>一覧ページからこのアプリを閲覧できなくなります。<br>一度非公開にしたアプリは、元の状態に戻すことはできません。<br><br>本当にこのアプリを非公開にしてもよろしいですか？</p>
        <%= link_to "アプリの公開を継続", app_path(@app), class: "btn btn-primary" %>
        <%= link_to "アプリの公開を停止", cancel_app_path(@app), method: :patch, class: "btn btn-danger", "data-confirm" => "アプリを非公開にしてもよろしいですか？" %>
      </div>
    </div>
  </div>
</div>