<div class="row">
  <div class="col-md-10 app-show-box border-space">
    <div id="app-hint">
      <%= render 'learnings/learning_status', app: @app, learning: @learning %>

      <div id="hint-info">
        <h4>ヒント</h4>
        <% if @app.hint.present? %>
          <%= @app.hint %>
        <% else %>
          <p>ヒントは投稿されていません。</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <div class="link-bar">
      <% if @app.user == current_user %>
        <div class="group-btn">
          <%= link_to "アプリ詳細", app_path(@app), class: "btn btn-default" %>
          <%= link_to "ヒント", hint_app_path(@app), class: "btn btn-default btn-active" %>
          <%= link_to "質問", app_questions_path(@app), class: "btn btn-default" %>
          <%= link_to "解説", explanation_app_path(@app), class: "btn btn-default" %>
        </div>
        <div class="one-btn">
          <%= link_to "レビュー", app_reviews_path(@app), class: "btn btn-default" %>
        </div>
        <div class="one-btn">
          <%= link_to "編集", edit_app_path(@app), class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="group-btn">
          <%= link_to "アプリ詳細", app_path(@app), class: "btn btn-default" %>
          <%= link_to "学習メモ", app_learning_path(@app, @learning), class: "btn btn-default" %>
          <%= link_to "ヒント", hint_app_path(@app), class: "btn btn-default btn-active" %>
          <%= link_to "質問", app_questions_path(@app), class: "btn btn-default" %>
          <%= link_to "解説", explanation_app_path(@app), class: "btn btn-default" %>
        </div>
        <div class="one-btn">
          <%= link_to "レビュー", app_reviews_path(@app), class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
