<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <div class="category-bar">
        <ul class="category-menu nav nav-tabs">
          <li class="active"><%= link_to "言語別", "#language-tab", data: { toggle: "tab"}  %></li>
          <li><%= link_to "タグ別", "#tag-tab", data: { toggle: "tab"}  %></li>
        </ul>

        <div class="tab-content category-contents">
          <div class="tab-pane active" id="language-tab">
            <%= render 'languages/language_index', languages: @languages %>
          </div>
          <div class="tab-pane" id="tag-tab">
            <%= render 'tag_index' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="app-index back-white">
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to "新着順", root_path %></li>
          <li><%= link_to "評価順", rate_apps_path %></li>
        </ul>
        <%= render 'app_index', apps: @apps %>
      </div>
    </div>

  </div>
</div>