<div class="row">
  <%= form_with(model: @app) do |f| %>
    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <div class="field">
      <%= f.label : %>
      <%= f.text_field : %>
    </div>

    <%= f.submit "確認ページへ進む" %>
  <% end %>
</div>