<div class="row">
  <div class="col-md-10">
    <article class="app-info">
      <section>
        <div>
          <%= link_to user_path(@app.user) do %>
            <%= attachment_image_tag(@app.user, :profile_image, size: "40x40", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
            <%= @app.user.name %>
          <% end %>
          <%= @app.updated_at.strftime("%Y年%m月%d日更新") %>
        </div>
        <h1><%= @app.title %></h1>
        <p>開発言語<%= link_to @app.language.name, language_path(@app.language) %></p>
      </section>

      <section>
        <h3>概要</h3>
        <%= @app.overview %>
      </section>

      <section>
        <h3>アプリケーションURL</h3>
        <%= link_to @app.app_url, @app.app_url, target: :_blank %>
      </section>

      <section>
        <h3>リモートリポジトリURL</h3>
        <%= link_to @app.repo_url, @app.repo_url, target: :_blank %>
      </section>

      <section>
        <h3>機能一覧</h3>
        <%= @app.function %>
      </section>

      <section>
        <h3>対象者</h3>
        <%= @app.target %>
      </section>

      <% if @app.user != current_user %>
        <%= link_to "このアプリケーションを作成する", app_learnings_path(@app), method: :post, class: "btn btn-primary" %>
      <% end %>
    </article>
  </div>

  <div class="col-md-2">
    <div class="link-bar">
      <% if @app.user == current_user %>
        <%= link_to "編集", edit_app_path(@app), class: "btn btn-primary" %>
      <% else %>
        <%= link_to "学習開始", app_learnings_path(@app), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>