<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="app-show-box border-space">
        <article class="app-info">
          <%= render 'app_info_top', app: @app %>

          <section class="app-contents">
            <h3>概要</h3>
            <p><%= @app.overview %></p>
          </section>

          <section class="app-contents">
            <h3>アプリケーションURL</h3>
            <%= link_to @app.app_url, @app.app_url, target: :_blank, class: "URL" %>
          </section>


          <section class="app-contents">
            <h3>リモートリポジトリURL</h3>
            <%= link_to @app.repo_url, @app.repo_url, target: :_blank %>
          </section>

          <section class="app-contents">
            <h3>機能一覧</h3>
            <p><%= @app.function %></p>
          </section>

          <section class="app-contents">
            <h3>対象者</h3>
            <p><%= @app.target %></p>
          </section>

          <% if user_signed_in? %>
            <!-- ログインユーザがそのアプリの投稿者ではなく、管理者でもなく、まだ学習を開始していないユーザの場合 -->
            <% unless @app.user == current_user || Learning.find_by(user_id: current_user.id, app_id: @app.id) || admin_signed_in? %>
              <div id="make-app">
                <%= link_to "このアプリケーションを作成する", app_learnings_path(@app), method: :post, class: "btn-lg btn-primary" %>
              </div>
            <% end %>
          <% end %>
        </article>
      </div>
    </div>

    <div class="col-sm-2">
      <%= render 'learnings/learning_linkbar', app: @app, learning: @learning %>
    </div>
  </div>
</div>
