<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <div class="category-bar">
        <ul class="category-menu nav nav-tabs">
          <li class="active"><%= link_to "言語別", "#lang-tab", data: { toggle: "tab"}  %></li>
          <li><%= link_to "タグ別", "#tag-tab", data: { toggle: "tab"}  %></li>
        </ul>

        <div class="tab-content category-contents">
          <div class="tab-pane active" id="lang-tab">
            <%= render 'lang_index', langs: @langs %>
          </div>
          <div class="tab-pane" id="tag-tab">
            <%= render 'apps/tag_index' %>
          </div>
        </div>
      </div>

      <%= render 'users/user_sidebar', user: current_user %>
    </div>

    <div class="col-sm-9">
      <div class="app-index back-white">
        <ul class="nav nav-tabs">
          <li><%= link_to "新着順", lang_path(@lang) %></li>
          <li><%= link_to "評価順", rate_show_lang_path(@lang) %></li>
          <li class="active"><%= link_to "人気順", popular_show_lang_path(@lang) %></li>
        </ul>
        <%= render 'apps/app_index', apps: @apps %>
      </div>
    </div>

  </div>
</div>