<div class="container admin-space">
  <h3 class="admin-title">会員一覧</h3>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザーネーム</th>
        <th>メールアドレス</th>
        <th>登録日</th>
        <th>ステータス</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
          <td>
            <% if user.status == true %>
              有効
            <% else %>
              退会済み
            <% end %>
          </td>
            <td>
              <% if user.status == true %>
                <%= link_to "詳細", user_path(user), class: "btn btn-sm btn-default" %>
              <% end %>
            </td>
            <td>
              <% if user.status == true %>
                <%= link_to "強制退会", cancel_admin_user_path(user), method: :patch, class: "btn btn-sm btn-default", "data-confirm" => "このユーザーを強制的に退会させますか？" %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate"><%= paginate @users %></div>
</div>
