<div class="container admin-space">
  <h3 class="admin-title">会員一覧</h3>

  <div id="admin-search" class="cp_form">
    <%= search_form_for [:admin, @user_q] do |f| %>
      <h4>検索</h4>
      <div class="cp_group">
        <%= f.search_field :name_cont %>
        <%= f.label :name_cont, "ユーザーネーム", class: "cp_label" %>
        <i class="bar"></i>
      </div>
      <div class="cp_group">
        <%= f.search_field :email_cont %>
        <%= f.label :email_cont, "メールアドレス", class: "cp_label" %>
        <i class="bar"></i>
      </div>
      <div class="cp_radio">
        <div class="radio">
          <%= f.label :status_eq, value: '' do %>
            <%= f.radio_button :status_eq, '', checked: true %>
            <i class="ch_bar"></i>全て
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :status_eq, value: true do %>
            <%= f.radio_button :status_eq, true %>
            <i class="ch_bar"></i>有効のみ
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :status_eq, value: false do %>
            <%= f.radio_button :status_eq, false %>
            <i class="ch_bar"></i>退会済みのみ
          <% end %>
        </div>
      </div>
      <div class="btn_cont clearfix">
        <%= f.submit "検索", class: "btn" %>
        <%= link_to "検索リセット", admin_users_path, class: "btn" %>
      </div>
    <% end %>
  </div>

  <% if @users.present? %>
    <table class="table">
      <thead>
        <tr>
          <th><%= sort_link(@user_q, :id, "ID") %></th>
          <th><%= sort_link(@user_q, :name, "ユーザーネーム") %></th>
          <th><%= sort_link(@user_q, :email, "メールアドレス") %></th>
          <th><%= sort_link(@user_q, :created_at, "登録日") %></th>
          <th><%= sort_link(@user_q, :status, "ステータス") %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <% if user.status == true %>
                有効
              <% else %>
                退会済み
              <% end %>
            </td>
              <td>
                <% if user.status == true %>
                  <%= link_to "詳細", user_path(user), class: "btn btn-sm btn-default" %>
                <% end %>
              </td>
              <td>
                <% if user.status == true %>
                  <%= link_to "強制退会", cancel_admin_user_path(user), method: :patch, class: "btn btn-sm btn-default", "data-confirm" => "このユーザーを強制的に退会させますか？" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="paginate"><%= paginate @users %></div>
  <% else %>
    <p>検索に一致するデータはありません。</p>
  <% end %>
</div>
