<div class="row">
  <div class="col-md-10 app-show-box border-space">
    <article class="app-info">
      <section class="app-info-top">
        <div class="app-post">
          <%= link_to user_path(@app.user) do %>
            <%= attachment_image_tag(@app.user, :profile_image, size: "40x40", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
          <% end %>
          <span><%= @app.user.name %></span>
          <span><%= @app.updated_at.strftime("%Y年%m月%d日更新") %></span>
        </div>
        <h1><%= @app.title %></h1>
        <div class="star-rate" data-score="<%= @app.average_rate %>"></div>
        <span>（<%= @app.average_rate %>）</span>
        <p>開発言語：<%= link_to @app.language.name, language_path(@app.language) %></p>
        <% @app.tag_list.each do |tag| %>
          <span class="tag-link"><%= link_to tag, tag_apps_path(tag_name: tag), class: "btn-xs btn-default btn-tag" %></span>
        <% end %>
      </section>

    <div id="review-contents">
      <div id="review-form" class="field">
        <% unless @my_review.present? %>
          <% if @learning.present? && @learning.status == "学習済み" %>
              <%= form_with(model: [@app, @review], local: true) do |f| %>
                <%= render 'layouts/error_messages', model: @review %>
                <h4>レビュー</h4>
                <div id="star">
                  <%= f.label :rate, "評価" %>
                  <%= f.hidden_field :rate, id: "review_star" %>
                </div>
                <span>星の数を選択してください。</span>
                <%= f.text_area :content, placeholder: "レビューを記入してください。", class: "textarea-form" %>
                <%= f.submit "レビューを投稿", class: "btn btn-default" %>
              <% end %>
          <% elsif @app.user != current_user %>
          <!-- 投稿者ではないユーザのうち、まだ学習を始めていない、または学習ステータスが”学習済み”ではないユーザ -->
            <p>学習済みのアプリケーションのみ、レビューを投稿できます。</p>
          <% end %>
        <% else %>
          <p>このアプリケーションはすでにレビュー済みです。</p>
        <% end %>
      </div>
    </div>

    <div id="review-index">
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <div class="review-box">
            <div class="post-user">
              <%= attachment_image_tag(review.user, :profile_image, size: "40x40", format: "jpeg", fallback: "no_image.jpg", class: "img-circle") %>
              <span><%= review.user.name %></span>
              <span><%= review.created_at.strftime("%Y年%m月%d日") %></span>
            </div>
            <div class="post-content">
              <div class="star-rate" data-score="<%= review.rate %>"></div>
              <%= review.rate %>
              <p class="review-text"><%= review.content %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>このアプリケーションは、まだレビューがありません。</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-1">
    <div class="link-bar">
      <% if @app.user == current_user %>
        <div class="group-btn">
          <%= link_to "アプリ詳細", app_path(@app), class: "btn btn-default" %>
          <%= link_to "ヒント", hint_app_path(@app), class: "btn btn-default" %>
          <%= link_to "質問", app_questions_path(@app), class: "btn btn-default" %>
          <%= link_to "解説", explanation_app_path(@app), class: "btn btn-default" %>
        </div>
        <div class="one-btn">
          <%= link_to "レビュー", app_reviews_path(@app), class: "btn btn-default btn-active" %>
        </div>
        <div class="one-btn">
          <%= link_to "編集", edit_app_path(@app), class: "btn btn-primary" %>
        </div>
      <% else %>
        <% if @learning.present? %>
          <div class="group-btn">
            <%= link_to "アプリ詳細", app_path(@app), class: "btn btn-default" %>
            <%= link_to "学習メモ", app_learning_path(@app, @learning), class: "btn btn-default" %>
            <%= link_to "ヒント", hint_app_path(@app), class: "btn btn-default" %>
            <%= link_to "質問", app_questions_path(@app), class: "btn btn-default" %>
            <%= link_to "解説", explanation_app_path(@app), class: "btn btn-default" %>
          </div>
        <% else %>
          <div class="one-btn">
            <%= link_to "学習開始", app_learnings_path(@app), method: :post, class: "btn btn-primary" %>
          </div>
          <div class="one-btn">
            <%= link_to "アプリ詳細", app_path(@app), class: "btn btn-default" %>
          </div>
        <% end %>
        <div class="one-btn">
          <%= link_to "レビュー", app_reviews_path(@app), class: "btn btn-default btn-active" %>
        </div>
      <% end %>
    </div>
  </div>
</div>